<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rainmanproductions.feedme" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FeedMeButton"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowserActivity"
            android:parentActivityName=".FeedMeButton" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rainmanproductions.feedme.FeedMeButton" />
        </activity>
        <activity
            android:name=".userinformation.UserInformationActivity"
            android:label="User Information"
            android:parentActivityName=".FeedMeButton" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rainmanproductions.feedme.FeedMeButton" />
        </activity>
        <activity
            android:name=".userinformation.DeliveryAddress"
            android:label="Delivery Address" >
        </activity>
        <activity
            android:name=".userinformation.OrderPreferences"
            android:label="@string/title_activity_order_preferences" >
        </activity>
    </application>

</manifest>
