<?xml version="1.0" encoding="utf-8"?>
<manifest package="rainmanproductions.feedme"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controllers.FeedMeButtonActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.BrowserActivity"
            android:parentActivityName=".controllers.FeedMeButtonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.FeedMeButtonActivity"/>
        </activity>
        <activity
            android:name=".controllers.UserInformationActivity"
            android:label="User Information"
            android:parentActivityName=".controllers.FeedMeButtonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.FeedMeButtonActivity"/>
        </activity>
        <activity
            android:name=".controllers.DeliveryAddressActivity"
            android:label="Delivery Address">
        </activity>
        <activity
            android:name=".controllers.OrderPreferencesActivity"
            android:label="@string/title_activity_order_preferences">
        </activity>
    </application>

</manifest>
